.btnClose{
    color:white ;
    font-weight: bold;
    background-color: #dc363f;
    border-radius: 5px;
    float: right;
    margin: 5px;
    border: 1px solid transparent;
    transition: background-color 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.btnClose:hover{
    background-color: #a12828;
    transition: background-color 0.2s;
}

.btnClose:active{
    background-color: #601213;
}



